.git
.gitattributes
.github

**/__pycache__/
*.py[cod]
.venv/
venv/
ENV/

waf/Datasets/
waf/Preprocessing/*.ipynb
waf/Training/*.ipynb
.ipynb_checkpoints/

*.csv
*.xml
*.xlsx
*.xls
*.npz

tests/
.pytest_cache/

*.md
